/***** BASE STYLES *****/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b2b2b;
}
#contact, #oldingham, #error, #bakermill, #emails {
    height: 600px;
}
/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}
/***** HEADER *****/
header {
  height: 750px;
  background:url("../img/colour.png");
  background-size: cover;
  border-bottom: 2px solid #91b383;
}
header h1 {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    padding: 20px 0 65px 25px;
    text-transform: uppercase;
    font-weight: 400;
  }
nav {
    float: right;
    padding: 30px 25px;
}
nav ul li{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size:25px;
    color: #ffffff;
    padding-left: 40px;
}
header h2 {
    width: 1200px;
    clear: both;
    font-family: 'Roboto Slab', serif;
    font-size: 70px;
    line-height: 90px;
    color: #ffffff;
    padding-top: 75px;
    text-align: center;
}
header h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 45px;
  color: #ffffff;
  padding: 0 0 0 px;
  clear: both;
  width: 1200px;
  text-align: center;
}
/***** ABOUT *****/
#about .full-width {
    padding: 30px 0;
}
#about h2 {
    font-family:'Roboto Slab', serif;
    font-size: 36px;
    padding-left: 50px;
    color: #91b383;
}
#about p {
    font-size:21px;
    color: #7f7f7f;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}
#about p span{
  font-weight:bold;
  color: #91b383;
}
#icons {
  font-family:'Roboto Slab', serif;
  font-size: 24px;
  padding-left: 0 0 50px 50px;
  color: #f76d4d;
  text-align: center;
  align-items: center;
  clear:both;
}
#icons img {
    width: 200px;
  }
  #icons .full-width {
    clear: both;
  }
/***** Divider *****/
#divider {
  height: 200px;
  background:url("../img/colour2.png");
  background-size: cover;
  clear:both;
  border-top: 1px solid #91b383;
  border-bottom: 1px solid #91b383;
}
#divider h2{
  font-family:'Roboto Slab', serif;
  font-size: 60px;
  text-align: center;
  padding-left: 50px;
  color: #ffffff;
}
#divider h2 span{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
.small-divider {
  height: 25px;
  background:url("../img/colour2.png");
  background-size: cover;
  clear:both;
  border-top: 1px solid #91b383;
  border-bottom: 1px solid #91b383;
}
/***** WORK *****/
#work {
  text-align: center;
}
#work .third-width {
  padding-top: 40px;
  padding-bottom: 40px;
}
#work img {
    width: 400px;
    height:auto;
    padding-bottom: 40px;
    padding-right: 20px;
}
#work h3 {
    font-size: 24px;
    color: #f76d4d;
    font-family: 'Roboto Slab', serif;
    line-height: 32px;
    width: 500px;
    padding: 75px 0 25px 0;
    margin: 0 auto;
}
#work p {
  font-size: 21px;
  text-align: center;
  line-height: 30px;
  padding: 0 50px;
  margin: 0 auto;
  color:#7f7f7f;
}
#work p span {
  color: #91b383;
  font-weight: bold;
  font-size: 26px;
  font-family: 'Pacifico', cursive;
  padding-bottom: 10px;
}
#work a{
  color:#91b383;
}
#oldingham p {
  font-size:21px;
  color: #7f7f7f;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  text-align: left;
}
#emails img {
  width: 150px;
  padding: 50px 0 0 30px;
}
/***** Contact *****/
#contact {
  background-color: #F6F6F6;
}

#contact .full-width {
    padding: 110px 0;
}
#contact img#contact-img {
    margin-left: 25px;
    border: 12px solid #ffffff;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
    color: #91b383;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}
#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
    color: #f76d4d;
}
#contact p{
  font-size: 20px;
  color: #f76d4d;
  line-height: 21px;
  padding-left: 115px;
}
#contact #email-header{
    font-size: 32px;
    font-weight: normal;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #f76d4d;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}
